body {
    background-color: #ede8f5;
    color: #3d52a0;
    font-family: "Monaco","Lucida Console", Courier, monospace;
    text-align: center;
    box-sizing: border-box;
}

img {
    height: auto;
    width: 600px;
    margin: 20px auto;
    border: 5px solid #3d52a0;

}

.icon {
    width: 200px;
    border: 10px solid #3d52a0;
}

.header {
    font-size: 30px;
    font-weight: bold;
    margin: 20px auto;
    width: fit-content;
    border-bottom: 8px dotted #8697c4;
}

.title {
    font-size: 47px;
    margin: 20px auto;
    padding: 10px;
}


.links {
    border: 5px solid#3d52a0;
    background-color: lavender;
    width: 350px;
    height: auto;
    margin: 0px auto;
    padding: 15px 0px;
}

.recipes {
    font-size: 25px;
    color: #7091e6;
    margin: 5px;
}